<div class="shell"> 
  <h6 id="share_text">
    Share a song that has personal meaning to you and tell us why.
  </h6>
  <hr><br><br>
  <%= render 'video', video: @video %>
  <%= render 'message', message: @message %>
  <%= render 'log', log: @log %>
</div>