<p class="center-text">Share a song that has personal meaning to you and tell us why.</p>
<%= render 'video', video: @video %>
<p class="center-text"><%= @message %></p>
<%= render 'log', log: @log %>