<% unless @logs.empty? %>
  <% @logs.each do |log| %>
    <hr>
    <%= render 'video', video: log.video %>
    <%= render 'message', message: log.message %>
  <% end %>
<% else %>
  <h6>No one has shared any songs yet. You can be the first!</h6>
<% end %>